body {
    margin: 0px;
    background-image: url("img/White\ Squiggles\ Superminimalism\ Linktree\ Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: white;
    min-height: 100vh;
    box-shadow: 5px 10px 8px 10px #888888;
}

.task_area {
    border: 1px solid lightgrey;
    margin-top: 2em;
}

.task_tabs {
    display: flex;
    border-bottom: 1px solid lightgrey;
    position: relative;
}

.task_tabs div {
    padding: 1em;
}

#under_line {
    height: 4px;
    background-color: pink;
    position: absolute;
    width: 80px;
    left: 0px;
    top: 52px;
    padding: 0px;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 1em;
}

.task_done {
    text-decoration: line-through;
    text-decoration-color: rgb(234, 151, 151);
    text-decoration-thickness: 2px;
    background-color: #cecdcd;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100vh;
}

.icon_size {
    font-size: 2em;
    color: skyblue;
    padding-right: 40px;
}

.icon_size2 {
    font-size: 2em;
    color: rgb(241, 107, 107);
    padding-right: 40px;
}