body {
    margin: 0px;
    background-image: url("img/White\ Squiggles\ Superminimalism\ Linktree\ Background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: white;
    min-height: 100vh;
    box-shadow: 5px 10px 8px 10px #888888;
}

.task_area {
    border: 1px solid lightgrey;
    margin-top: 2em;
}

.task_tabs {
    display: flex;
    border-bottom: 1px solid lightgrey;
    position: relative;
}

.task_tabs div {
    padding: 1em;
}

#under_line {
    height: 4px;
    background-color: pink;
    position: absolute;
    width: 80px;
    left: 0px;
    top: 52px;
    padding: 0px;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}